CHAT_MODEL=deepseek-v4-pro
EMBEDDING_MODEL=qwen3-embedding:8b
EMBEDDING_HOST=http://localhost:11434
MILVUS_URI=http://localhost:19530
POSTGRESQL_URL=postgresql://langchain_user:abcd1234@localhost:5432/mockinterview_pro?sslmode=disable
DB_NAME=mock_interview_pro
COLLECTION_JDS_NAME=interview_knowledge_base
COLLECTION_RESUME_NAME=interview_knowledge_base
COLLECTION_INTERVIEWS_NAME=interview_knowledge_base
COLLECTION_DIMENSION=4096
EMBED_DIR=../../data/jds


DEEPSEEK_API_KEY=sk-
TAIL_API_KEY=tv



